.search {
    border: 1px solid black;
    padding: 10px;
    background-color: #E3E3E3;
}

.border_style {
    border-top-style: groove;
    border-top-color: black;	
    border-top-width: 1px;
    padding: 10px;	
}

.margin_style {
   margin-top: 1%;
   margin-botton: 3%;
}


.reviews-carousel {
  border: 3px solid #bbb;
}

.reviews-avatar {
  float: left;
  margin-top: 15px;
  width: 70px;
  height: 70px;
  border: 2px solid #555;
  border-radius: 15px;
}

.reviews-author {
  margin: 15px 0 0 85px;
}

.reviews-text {
  margin: 0 0 0 85px;
  color: #777;
  padding-bottom: 30px;
}

.reviews-give-feedback {
  margin-left: 50px;
}

.reviews-block-align {
  width: 134px;
}


.slick-prev:before, .slick-next:before { 
    color:black !important;
}

.reviews-container {
    max-width: 900px;
    margin: 5px auto;
}

.reviews-button {
    margin-top: 15%;
    margin-bottom: 15%;
}

.custom_footer {
     background-color: #b4b4b4;
}

