<div class="container">
    <div class="col-md-11">
        <table class="table table-hover table-bordered">
            <tbody>
            {% for table in range(tables) %}
                <tr>
                    <td>
                        <div class="row flex">
                            <div class="col-sm-3 text-center">
                                <img src="img/logo.png" alt="Логотип организации" width="64" height="64">
                            </div>
                            <div class="col-sm-7 col-sm-offset-1 text-center">
                                <a href="organisation.html"><h4 class="media-heading">{{ company_name }}</h4></a>
                                <address>
                                    <strong>Место деятельности: </strong> {{ company_location }} <br>
                                    <strong>Продукция: </strong> {{ company_production }} <br>
                                    <strong>Адрес: </strong> {{ company_address }} <br>
                                    <strong>Телефон: </strong> {{ company_phone_number }} <br>
                                </address>
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-md-1">
        <a href="index.html" class="btn btn-default reviews-button">Оставить заявку</a>
    </div>

    <div class="row">
        <div class="col-md-5 col-sm-offset-3" style="text-align: center">
            <div class="text-center">
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        <li>
                            <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li>
                            <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3" style="text-align: center">
            <a href="index.html"><h4>Оставить заявку</h4></a>
        </div>
    </div>
</div>