{% extends "_base.html" %}
{% block content %}
<div class="container">
    <div class="col-md-9 col-md-offset-0">
        <p>Участники в Новосибирске: <a href="org_catalog.html">105 оптовых компаний</a> <a href="org_catalog.html">25 производителей</a>
    </div>
    <div class="text-center col-md-12 col-md-offset-0">
        <h2 class="text-uppercase">Вам позвонят лучшие поставщики новосибирска</h2>
    </div>
</div>
{% include "_search_box.html" %}

{% include "_requests.html" %}
<div class="container border_style">
    <div class="text-center">
        <a href="requests.html" class="btn btn-lg btn-info margin_style text-center">Посмотреть все заявки</a>
    </div>
</div>
{% include "_reviews.html" %}
{% endblock %}