{% extends "_base.html" %}
{% block content %}
<div class="row">
<div class="col-xs-5 col-sm-4" style="margin-left: 1%">
<img src="img/logo.png" alt="logo" style="padding-right: 20px">
</div>
<div class="col-xs-5 col-sm-4">
<a href="index.html"> Главная </a>
<span class="glyphicon glyphicon-chevron-right"></span>Личный кабинет
</div>
</div>
<div class="container">
<div class="row">
<div class="col-sm-8 col-xs-4">
  <h4>Личный кабинет</h4>
</div>
<div class="col-sm-4 col-xs-4 text-right">
 <a href="requests.html"><h4>Перейти к заявкам</h4></a>
</div>
</div>
</div>
<div class="col-md-1 col-md-offset-2">
<ul class="nav nav-pills nav-stacked" id="myTabs">
  <li class="active"><a href="#home" data-toggle="pill">Home</a></li>
  <li><a href="#profile" data-toggle="pill">Profile</a></li>
  <li><a href="#messages" data-toggle="pill">Messages</a></li>
</ul>
</div>
<div class="container search">
<div class="tab-content col-sm-12 col-sm-offset-0">
  <div class="tab-pane active" id="home">Home</div>
  <div class="tab-pane" id="profile">Info about profile</div>
  <div class="tab-pane" id="messages">Messages</div>
</div>
</div>
{% endblock %}